<mat-sidenav-container class="h-full">
  <mat-sidenav mode="side" opened class="side-nav-flat">
    <header class="p-10">
      <img ngSrc="../../../assets/img/image-profile.jpg" alt="profile" height="80" width="80" class="rounded-full mx-auto">
      <div class="flex flex-col text-center mt-4 gap-2.5 text-white">
        <div class="">Alberto Ramirez</div>
        <span class="text-sm">Admin</span>
      </div>
    </header>
    <mat-nav-list>
      <mat-list-item>Buttons</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>Angular Material - Components Customization</mat-toolbar>

<!--    <some-form (onSubmitEvent)="onSubmitForm($event)"></some-form>-->
  </mat-sidenav-content>
</mat-sidenav-container>
