/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

div.code {
  margin: 20px 0 25px 0;

  code {
    background-color: #f4f4f4; /* Light grey background */
    color: #d63384; /* Common pinkish color for code */
    padding: 12px 14px; /* Internal spacing */
    border-radius: 4px; /* Rounded corners */
    font-size: 90%; /* Slightly smaller than surrounding text */
  }
}
